@media screen and (min-width: 400px) and (max-width: 700px) {   
body{  
background-color:#555;  
font-family: Times New Roman;  
}  
header h3{  
        text-align:center;  
    }  
 } 



@media screen and (min-width: 400px) and (max-width: 1200px) {  
body{
	background: blue;
	color: whitesmoke;
    }
}
body 
{
	background-color: #D8D8D8; 
}
#datospersonales{
	padding: 3px 10px;
	border: 3px;
	background: white;	
	justify-content: center;
}
#estudios{

	background: blue;
	width:400px;
	padding: 3px 10px;
	border: 2px solid;
	border-top-left-radius: 40px;
	border-bottom-right-radius: 40px;
	@media (max-width: 600px) {
		.facet_sidebar {
		  display: none;
		}
	  }


}
#perfil{
	width:400px;
	padding: 3px 10px;
	border: 2px solid;
	background: green;
	height: 100%;
	margin: 10px 20px 10px 60px;  
}
#programas{
	background: orange;
	width:400px;
	padding: 3px 10px;
	border:  2px solid;
	border-top-right-radius: 40px;
	border-bottom-left-radius-: 40px;
}
.foto{
	margin: 10px;
	border: 1px;
	border-radius: 50%;
}
.informacion{
	background: white;
	color: blue;
	text-align: left;

}
.contenedor{
	display flex;
	justify-content: center;
}


a:link, a:visited {
    background-color: greenyellow;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;


}
.personaldatos
{
    background-color: greenyellow;
    color: white;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}
.image{
	width: 120px;
	height: 120px;
	border-radius: 50%;
}